:root
{
    --navbar-bg-color: rgb(32, 32, 32);
    --button-bg-color: rgb(34, 34, 34);
    --button-hover-bg-color: rgb(53, 53, 53);
}

#navbar
{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    transition: all 0.5s ease;
    background-color: var(--navbar-bg-color);
    z-index: 2;
    border-bottom: 2px solid black;
}

#projectLogo
{
    transition: all 0.5s ease;
}

#indexLink
{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 2px;
    margin-right: 5px;
    padding-bottom: none;
}

#mainMenu
{
    width: 60%;
    height: 50px;
    position: fixed;      
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 60px;
}

#mainMenu > div
{
    width: 150px;
    height: 46px;
    margin-left: 30px;
    margin-right: 30px;
    border: 2px solid black;
    text-align: center;
    line-height: 300%;
    background-color: var(--button-bg-color);
    transition: all 0.5s ease;
    cursor: pointer;
}

#mainMenu > div:hover
{
    background-color: var(--button-hover-bg-color);
    border-radius: 10px;
}


#touLink
{
    color: grey;
}

#ppLink
{
    color: grey;
}