:root
{
    --section-bg-color: rgb(41, 37, 43);
    --feature-bg-color: rgb(27, 27, 27);
    --dl-bg-color: rgb(51, 51, 51);
    --dl-hover-bg-color: rgb(77, 77, 77);
}

#projectSection
{
    width: 95%;
    margin: auto;
    background-color: var(--section-bg-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.projectDescription
{
    text-align: center;
    margin: 30px;
}

.feature
{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    background-color: var(--feature-bg-color);
}

.fRight > img
{
    margin-left: 30px;
}

.fLeft > img
{
    order: 1;
    margin-right: 30px;
}

.fLeft > div
{
    order: 2;
}

.downloadSection
{
    width: 98%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--feature-bg-color);
    text-align: center;
}


.downloadButton
{
    border-radius: 10px;
    font-size: 40px;
    background-color: var(--dl-bg-color);
    width: 50px;
    height: 50px;
    transition: all 0.5s ease;
    display: flex;
    margin: auto;
}

.downloadButton:hover
{
    width: 75px;
    height: 75px;
    background-color: var(--dl-hover-bg-color);
    cursor: pointer;
}

#downloadIcon
{
    filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(348deg) brightness(101%) contrast(103%);
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.dlLink
{
    margin: auto;
}

.downloadSection > h4
{
    margin-top: 20px;;
}

#githubIcon
{
    filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(348deg) brightness(101%) contrast(103%);
    width: 40px;
    height: 40px;
    margin-top: 5px;
}