#gameSection
{
    border: 1px solid green;
    opacity: 1;
}

#technicalOverviewSection
{
    border: 1px solid red;
}

#documentationSection
{
    border: 1px solid blue;
}

#teamSection
{
    border: 1px solid yellow;
}

.section
{
    transition: all 0.5s ease;
    height: 500px;
}