:root
{
    --section-bg-color: rgb(41, 37, 43);
    --component-bg-color: rgb(27, 27, 27);
}

#technicalOverviewSection
{
    width: 95%;
    margin: auto;
    background-color: var(--section-bg-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.component
{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    background-color: var(--component-bg-color);
}